.avatar{
  width: 16rem;
  height: auto;
  background-color: rgba(120, 120, 120, 1.7);
  border-radius: 50%;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 10px var(--first-color);
  outline: 2px solid var(--first-color);
  outline-offset: 1rem;
  outline: 2px solid var(--first-color);
  transition: 500ms ease-in-out;
  animation: sliderShapes linear infinite;
  -webkit-animation: pulseBorder 4000ms linear infinite;
}


@keyframes pulseBorder {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% 80%/ 45% 45% 55% 55% 94%;
  }
  34% {
    border-radius: 70% 30% 46% 54%  42%  / 30% 29% 71% 70% 18%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 20%;
  }
}

.avatar:hover {
  outline-offset: -0.7rem;
  outline: 2px solid var(--first-color);
  box-shadow: 0 0 40px var(--first-color);
}
